h2,p{
    color: white;
    max-width: 500px;
}


@media(max-width:1500px){
    .about-me{
        margin-left: 50px;
        margin-right: 50px;
    }
}

.about-me{

    text-align: justify;
    padding-top: 100px;
    margin-left: 50px;
}

.person {
    margin-left: 500px;
}

@media (max-width: 1500px) {
    .person {
        margin-left: 0; 
    }
}